.seacrchForm {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    width: 264px;
}

.searchHeading {
font-weight: bold;
}

.searchInput {
    transition: outline-color 100ms ease-in-out;
    width: 400px;
    height: 30px;
}

